#pins.transitions-enabled
  = render @pins

-# #pins.transitions-enabled
-#   - @pins.each do |pin|
-#     %div.box
-#       %div.ui.centered.raised.card
-#         %div.image
-#           = link_to (image_tag pin.image_url.to_s, :class => "ui image fluid"), pin
-#         %div.content
-#           %div.meta
-#             = pin.title
