%div.ui.two.column.centered.stackable.grid
  %div.ten.wide.column
    %h1
      New Pin
    %h1
      .pinform
        = form_tag "/pins/get_info", method: "post", class: "ui reply form" do
          %label
            Pin Url
            = text_field_tag :pin_url,@pin.pin_url, placeholder:"http://"
          = submit_tag "Go", class: 'ui mini blue button'
          #cancelpinurl.ui.mini.red.button
            Cancel
    - if @pin.remote_image_url == nil
      #showpinurlbtn.ui.red.basic.button
        Pin Url
      %div.ui.horizontal.divider
        Or Create your own
      %br
    .newform
      = render 'form', pin: @pin
