#stats
  %div.ui.statistics
    %div.blue.statistic
      %div.value
        = pins.count
      %div.label
        Tunes
    %div.red.statistic
      %div.value
        = user.followers.count
      %div.label
        Followers
    %div.orange.statistic
      %div.value
        = user.follows.count
      %div.label
        Following
